@using FoodieHub.API.Models.DTOs.Recipe
@{
    ViewData["Title"] = "Create Recipe";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model CreateRecipeDTO
<div class="container py-4">
    <h2 class="text-primary">Create New Recipe</h2>

    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Title</label>
            <input asp-for="Title" class="form-control" placeholder="Enter article title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
@*         <div class="row mb-3">
            <div class="col-12 col-lg-6">
                <div class="mb-3">
                    <label class="form-label">Prep Time</label>
                    <div class="row gx-2">
                        <div class="col-6">
                            <input asp-for="PrepHours" class="form-control" placeholder="Hours" />
                            <span asp-validation-for="PrepHours" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <input asp-for="PrepMinutes" class="form-control" placeholder="Minutes" />
                            <span asp-validation-for="PrepMinutes" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mb-3">
                    <label class="form-label">Cook Time</label>
                    <div class="row gx-2">
                        <div class="col-6">
                            <input asp-for="CookHours" class="form-control" placeholder="Hours" />
                            <span asp-validation-for="CookHours" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <input asp-for="CookMinutes" class="form-control" placeholder="Minutes" />
                            <span asp-validation-for="CookMinutes" class="text-danger"></span>
                        </div>
                    </div>
              
                </div>
            </div>
        </div> *@
        <div class="row mb-3">
            <div class="col-12 col-lg-6">
                <label asp-for="Serves" class="form-label">Serves</label>
                <input asp-for="Serves" class="form-control"/>
                <span asp-validation-for="Serves" class="text-danger"></span>
            </div>
            <div class="col-12 col-lg-6">
                <label asp-for="File" class="form-label">Image</label>
                <input asp-for="File" class="form-control" accept="image/*" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>          
        </div>

        <div class="mb-3">
            <div class="row">
                <label asp-for="Ingredients" class="form-label me-5">Ingredients</label>
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <textarea class="form-control" asp-for="Ingredients" placeholder="Enter ingredients of your recipe"></textarea>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-lg-6">
                <label asp-for="CategoryID" class="form-label me-3">Category</label>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
                <select asp-for="CategoryID" class="form-select form-select-sm me-2" style="width: 150px;">
                    <option selected>All</option>
                    @if (ViewBag.Category != null)
                    {
                        foreach (var item in ViewBag.Category)
                        {
                            <option value="@item.CategoryID">@item.CategoryName</option>
                        }
                    }
                </select>
            </div>
            <div class="col-12 col-lg-6">
                <label asp-for="IsActive" class="form-label me-5">IsActive</label>
                <select asp-for="IsActive" class="form-select">
                    <option value="true" selected>True</option>
                    <option value="false">False</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Create Recipe</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
